/*
Version: 1.0.0
Author: Ansonika
Author URI: http://themeforest.net/user/Ansonika/

CSS STRUCTURE:

1. BASE
2.  COMMON
3. MEDIA QUERIES

/*============================================================================================*/
/* 1.  BASE  */
/*============================================================================================*/

.sub-nav-container {
	background: #fff;
}

.menu_container {
	text-align:right;
	margin: 22px 0 0 0;
	text-transform:uppercase; 
	font-weight:700;
}

.menu {
	padding-left:0;
}

.menu > li {
	display:inline;
	border:none;
	margin:0;
	color:#999;
	padding-right:10px;
	border-left: 1px solid #B6B6B6;
	padding-left:15px;
}
.menu > li:first-child {
	border-left: none;
	padding-left:none;
}
.menu > li a{
	color:#E91E63;
	text-decoration:none;
	}
.menu > li a:hover{
	color:#C2185B;
	text-decoration:none;
	}

		.menu > li a.drop-down {
			background-image:url("../img/arrow-down.png");
			background-repeat: no-repeat;
			background-position:right 20px;
			padding:14px 15px 15px 0;
			color:#E91E63;
			outline:none;
		}
	
		.menu > li a.drop-down:hover {
			cursor:pointer;
			color:#C2185B;
			outline:none;
		}
		
		.menu> li.active .drop-down{
			cursor:pointer;
			background-image:url("../img/arrow-down.png");
			color:#C2185B;
		}	
		a#menu-button-mobile {
			display:none;
			float:right;
			outline:none;
			border:none;
			color:#E91E63;
			font-size:28px;
			margin-right:-5px;
	
		}
		a#menu-button-mobile.active {
			color:#999;
			cursor:pointer;
		}

.drop-down-container ul{
	list-style:none;
	margin:0;
	padding:20px 0 0 0;
}

.drop-normal {
	position:relative;
}
.menu > li .drop-down-container.normal {
	position:absolute; 
	top:40px; 
	right:0px;
	display: none;
	z-index:999;
	overflow-y: visible;
	width:auto;
	padding-top:0;
	padding-bottom:0;
	background:none;
	height:auto;
	text-transform:none;
}
.drop-down-container.normal ul{
	list-style:none;
	margin:0;
	padding:0;
}
.drop-down-container.normal ul li{
	text-align:left;
}
.drop-down-container.normal ul li a{
	display:block;
	padding:10px;
	width:250px;
	border-bottom:1px solid #fff;
	color:#fff;
	background-color:#C2185B;
}

.drop-down-container.normal ul li a:last-of-type {
	border-bottom: none;
}

.drop-down-container.normal ul li a:hover{
	background:#E91E63;
	color:#fff;
}



/*============================================================================================*/
/* 3.  MEDIA QUERIES  */
/*============================================================================================*/


@media only screen and (max-width: 767px) {
	
	.menu_container {
		position: absolute;
		left: 0;
		right: 0;
		background:;
	}
	
	a#menu-button-mobile {display:block; }
	
	.menu {
		padding: 27px 0 0 0 !important;
	}

	.menu > li .drop-down-container {
		height:auto;
		top:0;
		z-index:999;
		padding:0;
		overflow-y:hidden;
		position:relative;
		
		padding-left:0;
	}
	
	.drop-normal {
		padding:0 !important;
	}

	.menu > li .drop-down-container.normal {
		position:relative; 
		top:0; left:0px;
		display: none;
		overflow-y: visible;
		width:auto;
		padding-top:0;
		padding-bottom:0;
		height:auto;
	}

	.drop-down-container.normal ul {
		margin-top: 0 !important;
	}

	.drop-down-container.normal ul li a {
		background: #C2185B !important;
		color: #fff !important;
	}

	.drop-down-container.normal ul li a:hover {
		background: #E91E63 !important;
		color: #fff !important;
	}


	ul.menu {
		float:left;
		width:100%;
		position:relative;
		padding:20px 0 0 0;
		margin:0 0 0 0;
	}
	ul.menu li:first-child {
		border-top: none;
	}
	.menu > li {
		float:none;
		width:100%;
		text-align:left;
		border:none;
		display: block;
		padding: 0;
		margin:0;
		border-top: 1px solid #ededed;
	}
	.menu > li a, .menu > li a.drop-down{ 
		display: block;
		width:100%;
		margin:0;
		padding:10px !important;
		background-color:#fff;
		color: #E91E63 !important;
	}

	.menu > li a:hover, .menu > li a.drop-down:hover{ 
		background-color:#fff;	
	}

	.menu > li a.drop-down  {background-position:98.5% center;}
	.menu {display:none;}

	.drop-down-container ul li  { border-top:1px solid #ededed; padding-bottom:0; margin-bottom:0; height:80px;	background:#f8f8f8; }
	.drop-down-container.normal ul { margin:0; padding:0;margin-top:7px;}
	.drop-down-container.normal ul li  { border-top:1px solid #ededed; padding:0; margin-bottom:0; height:auto;background:none; }
	.drop-down-container.normal ul li a {width:100%; background:none; color:#999;}
	.drop-down-container.normal ul li a:hover {background:none; color:#333;}
	.drop-down-container div.container,.drop-down-container ul.row  { margin:0; padding:0;}

}

@media (min-width: 768px) and (max-width: 979px) {

	.sub-nav-container { float: right; }

}