/* NEW Fitwork styles */

html {
	background: url(../img/fitwork.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: 'Condiment', cursive;
}

hgroup {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

h1 {
	font-size: rem-calc(100px);
	color: white;

}
