/* NEW Fitwork styles */

html {
	background: url(../img/fitwork.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: 'Condiment', cursive;
}

hgroup {
	position: absolute;
	bottom: 0;
	left: 20px;
}

h1 {
	font-size: 100px;
	color: white;
	margin: 0 0 10px 0;
}

h3 {
	font-size: 60px;
	color: white;
}
